<% include ./header %>

<!-- 栏目 -->
<div class="container">
	<div class="row">
		<% items.forEach(function(val){ %>
			<div class="col-md-6">
				<div class="list-group">
				  <a href="#" class="list-group-item active zhutiys">
				    <%= val.name %>
				  </a>
					<% val.articleList.forEach(function(articledata){ %>
						<a href="/Edit/<%= articledata._id %>" class="list-group-item">  <%= articledata.title %> </a>
					<% }) %>
				</div>
			</div>
		<% })%>
	</div>
</div>
<!-- 栏目 end -->

<% include ./footer %>