<% include ./header %>
<div class="container-fluid">
	<div class="jumbotron">
	  <h1>欢迎访问文章系统</h1>
	  <p>...</p>
	  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
	</div>
</div>
<% include ./footer %>