<% include ./header %>

	<ol class="breadcrumb">
	  <li><a href="#">栏目管理</a></li>
	  <li class="active">编辑栏目</li>
	</ol>

	<div class="col-md-4"></div>
	<div class="col-md-4">
		<form class="formAdd lanmu" action="/admin/itemUpdate" method="post">

		<input type="hidden" name="_id" value="<%= data._id%>">

			<div class="input-group">
			  <span class="input-group-addon">栏目名称</span>
			  <input type="text" class="form-control" name="name" value="<%= data.name%>">
			</div>

			<div class="input-group">
			  <span class="input-group-addon">栏目简介</span>
			  <input type="text" class="form-control" name="info" value="<%= data.info%>">
			</div>

			<div class="input-group">
			  <span class="input-group-addon">栏目排序</span>
			  <input type="text" class="form-control" name="order" value="<%= data.order%>">
			</div>

			<div class="input-group">
				<input type="submit" class="tijiao" value="提交">
			</div>

		</form>
	</div>
	<div class="col-md-4"></div>


<% include ./footer %>